<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="codeHighlighter" requirePermission="false" type="ActiproSoftware.CodeHighlighter.CodeHighlighterConfigurationSectionHandler, ActiproSoftware.CodeHighlighter.Net20" />
  </configSections>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>

  <codeHighlighter>
    <cache languageTimeout="3" />
    <keywordLinking enabled="true" target="_blank" defaultKeywordCollectionKey="ActiproKeywords">
      <keywordCollection key="ActiproKeywords">
        <explicitKeyword tokenKey="IdentifierToken" patternValue="Actipro" url="http://www.actiprosoftware.com" caseSensitive="false" />
        <explicitKeyword tokenKey="IdentifierToken" patternValue="CodeHighlighter" url="http://www.codehighlighter.com" caseSensitive="false" />
      </keywordCollection>
    </keywordLinking>
    <languages>
      <language key="Assembly" definitionPath="~/Languages/Lexers/ActiproSoftware.Assembly.xml" />
      <language key="BatchFile" definitionPath="~/Languages/Lexers/ActiproSoftware.BatchFile.xml" />
      <language key="C#" definitionPath="~/Languages/Lexers/ActiproSoftware.CSharp.xml" />
      <language key="CSS" definitionPath="~/Languages/Lexers/ActiproSoftware.CSS.xml" />
      <language key="HTML" definitionPath="~/Languages/Lexers/ActiproSoftware.HTML.xml" />
      <language key="INIFile" definitionPath="~/Languages/Lexers/ActiproSoftware.INIFile.xml" />
      <language key="Java" definitionPath="~/Languages/Lexers/ActiproSoftware.Java.xml" />
      <language key="JScript" definitionPath="~/Languages/Lexers/ActiproSoftware.JScript.xml" />
      <language key="Lua" definitionPath="~/Languages/Lexers/ActiproSoftware.Lua.xml" />
      <language key="MSIL" definitionPath="~/Languages/Lexers/ActiproSoftware.MSIL.xml" />
      <language key="Pascal" definitionPath="~/Languages/Lexers/ActiproSoftware.Pascal.xml" />
      <language key="Perl" definitionPath="~/Languages/Lexers/ActiproSoftware.Perl.xml" />
      <language key="PHP" definitionPath="~/Languages/Lexers/ActiproSoftware.PHP.xml" />
      <language key="PowerShell" definitionPath="~/Languages/Lexers/ActiproSoftware.PowerShell.xml" />
      <language key="Python" definitionPath="~/Languages/Lexers/ActiproSoftware.Python.xml" />
      <language key="SQL" definitionPath="~/Languages/Lexers/ActiproSoftware.SQL.xml" />
      <language key="VB.NET" definitionPath="~/Languages/Lexers/ActiproSoftware.VBDotNet.xml" />
      <language key="VBScript" definitionPath="~/Languages/Lexers/ActiproSoftware.VBScript.xml" />
      <language key="XAML" definitionPath="~/Languages/Lexers/ActiproSoftware.XAML.xml" />
      <language key="XML" definitionPath="~/Languages/Lexers/ActiproSoftware.XML.xml" />
    </languages>
    <lineNumberMargin foreColor="Teal" paddingCharacter=" " visible="true" />
    <outlining enabled="true" imagesPath="~/Images/OutliningIndicators/" />
    <spacesInTabs count="4" />
  </codeHighlighter>
</configuration>
